header {
    display: flex;
    background-color: #E6E6E6;
    flex-direction: column;
}

img {
    height: 147px;
    width: 100px;
    align-self: center;
}


/*-----------body------------*/
main{
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}
h1 {
    background: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 0;
    padding: 1% 0;  
}

h2 {
    background: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    width: 70%;
    font-size: 20px;
    padding-left: 0.5%;
}

li {
    font-family: Times New Roman;
    font-size: 15px;
}

span p {
    font-family: Times New Roman;
    font-style: normal;
    font-size: 15px;
}

.datosPersonales {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 84.69%;
}

.fechas {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
section{
    padding-left: 24%;
}
article{
    display: flex;
    align-items:baseline;
    padding-left: 2%;
}
p{
    text-align: left;
}


/*-----------footer------------*/

footer {
    background: #005677;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    gap: 26px;
}

.img_footer {
    height: 20px;
    width: 20px;
}

.title_footer {
    margin: 0;
    color: white;
}