header {
    display: flex;
}

img {
    height: 147px;
    width: 100px;
    align-self: center;
}


/*-----------body------------*/

h1 {
    background: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;
    letter-spacing: 0.3em;
    text-align: center;
}

h2 {
    background: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    width: 70%;
}


/*-----------footer------------*/

footer {
    background: #005677
}